<div class="content">
  <div class="index">
    <h1>
      <%= @initiative.name.titleize %>
    </h1>
  </div>
  <div class="container">
      <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
      <li><a data-toggle="tab" href="#menu1">Voluntarios</a></li>
    </ul>

    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
          <div class="row">
            <div class="col-sm-8" style="margin-top: 2%">
              <%= image_tag "icono_#{rand(1..7)}", class: "img-thumbnail" %>
            </div>
            <div class="col-sm-4"  style="margin-top: 2%">
              <div class="numero">
                <span>Voluntarios</span>
                
                <p>
                  <%=@initiative.volunteers.count%>
                </p>

              </div>

                <% if logged_in? %>
                  <% if current_user.id == @initiative.user_id %>
                    <%= link_to edit_initiative_path(@initiative) do %>
                      <button type="button" class="btn btn-outline-secondary" style="padding: 25px;
                        width: 100%;
                        font-size: 28px;">Editar
                      </button>
                  <% end %>
                  <% elsif current_user.has_joined?(@initiative) %>
                      <%= link_to volunteer_initiatives_path({initiative_id: @initiative.id}), method: :delete do %>
                        <button type="button" class="btn btn-outline-secondary" style="padding: 25px;
                          width: 100%;
                          font-size: 28px;">Salir de la iniciativa
                        </button>
                      <% end %>
                  <% else %>
                      <%= link_to volunteer_initiatives_path({initiative_id: @initiative.id}), method: :post do %>
                        <button type="button" class="btn btn-outline-warning" style="padding: 25px;
                          width: 100%;
                          font-size: 28px;">Únete a la iniciativa!
                        </button>
                      <% end %>
                    <% end %>
                <% else %>
                  <%= link_to new_user_path do %>
                    <button type="button" class="btn btn-outline-warning" style="padding: 25px;
                      width: 100%;
                      font-size: 28px;">Registrate!
                    </button>
                    <%= link_to "O ingresa", login_path %>
                  <% end %>
                <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <br>
              <p><%= @initiative.description %></p>
            </div>
            <div class="col-sm-4" align="left">
              <p>Fundado por</p>
              <h5 style="strong" >
                <%= "#{@initiative.user.fname} #{@initiative.user.lname}" %>
              </h5>
              <span><%= "#{@initiative.user.initiatives.count} iniciativas fundadas"%></p>
              <%= link_to user_path(@initiative.user) do %>
                <p>Ver Perfil</p>
              <% end %>

            </div>

          </div>

      </div>
      <div id="menu1" class="tab-pane fade">
        <h1>Lista de voluntarios</h1>
        <% if @initiative.has_volunteers? %>
          <% @initiative.volunteers.each do |volunteer| %>
            <%= link_to user_path(volunteer) do %>
              <h5>
                <%= "#{volunteer.fname} #{volunteer.lname}" %>
              </h5>
            <%end%>
          <% end %>
        <% else %>
          <h4>No hay voluntarios para esta iniciativa todavia</h4>
        <% end %>
      </div>
    </div>
  </div>

  </div>
</div>
