
<!-- <% if user.errors.any? %>
  <ul>
    <% user.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %> -->

<%= form_for user do |f| %>
  <h3>Nombre</h3>
  <br>
  <%=f.text_field :fname %>
  <br>
  <h3>Apellido</h3>
  <br>
  <%=f.text_field :lname %>
  <br>
  <h3>E-Mail</h3>
  <br>
  <%=f.text_field :email%>
  <br>
  <h3>Contraseña</h3>
  <br>
  <%=f.password_field :password%>
  <br>
  <h3>Edad</h3>
  <br>
  <%= f.text_field :age%>
  <%= f.submit %>
<% end %>
