<% if logged_in? %>
<%= render 'welcome/users', user: @user %>
<% else %>
<%= render 'welcome/visitors', user: @user %>
<% end %>
<br>
<div class="container">
  <div class="row">
    <% @initiatives.each do |i| %>
      <div class="col-sm-3 make-it-slow card">
        <%= link_to initiative_path(i) do %>
          <%= image_tag initiative_asset_path, class: "img-thumbnail" %>
          <div class="padding">
            <h5 style="color: #000000" class="title"><b><%= i.name.titleize %></b></h5>
        <% end %>
            <p style="color: grey">Etiquetas</p>
            <p class="description"><%= truncate(i.description, length: 100) %></p>
            <p><%= "Voluntarios: #{i.volunteersjoined}"%></p>
            <p><%= "Fecha tope: #{i.deadline}"%></p>
            <% if i.deadline < Date.today %>
              <%= render "progress_bar", state: "Finalizada", progress_class: "gris" %>
            <% else %>
              <%= render "progress_bar", state: "En progreso", progress_class: "amarillo" %>
            <% end %>
          </div>

      </div>
    <% end %>
  </div>
</div>
