<!DOCTYPE html>
<html>
  <head>
    <title>Pichón</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>

      <p><%="Ingresado como: #{current_user.fname} #{current_user.lname}"%></p>
      <p><%=link_to "Logout", logout_path%></p>
    <% else %>
  <p>  <%= link_to "Crea un usuario", new_user_path%> o  <%= link_to "ingresa!", login_path%> </p>
    <%end%>

    <%= yield %>
  </body>
</html>
