<!DOCTYPE html>
<html>
  <head>
    <title>Pichón</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= yield %>
  </body>
  <script type="text/javascript">
$("body > div > div.container > ul > li").on('click', function (event){
	$("body > div > div.container > ul > li").removeClass("active");
	$("body > div > div.container > ul > li > a").removeClass("active");
	$(event.target).parent().addClass('active');
});

</script>
</html>
